<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>ng-translation demo</title>
</head>
<body ng-controller="MainController">

    <select ng-change="update(language)" ng-model="language" ng-options="lang for lang in languages">
        <option value="">-- language --</option>
    </select>

    <h3>{{ 'title' | translate }}</h3>
    <h4>{{ 'description.text'  | translate }}</h4>
    <p>{{ 'button' | translate }}</p>

    <p ng-translate="'message'"></p>
    <p ng-translate="es('message')"></p>

    <table style="border:1px solid red">
        <tr>
            <td>User Details:</td>
        </tr>
        <tr>
            <td>{{ 'message' | translate: this }}</td>
        </tr>
        <tr>
            Change user details:
        </tr>
        <tr>
            <td>name: <input ng-model="user.name" type="text"/> </td>
        </tr>
        <tr>
            <td>password: <input ng-model="user.password" type="text"/> </td>
        </tr>
    </table>

    <script src="../bower_components/angular/angular.js"></script>
    <script src="../dist/ng-translation.js"></script>
    <script src="demo.js"></script>
</body>
</html>
